/*------------------------------------*\
    
    CSS Custom Properties (aka CSS Variables)
 
    Custom properties are entities defined by CSS authors that contain specific values to be reused throughout a document
    Example usage: brand colors, common margins, drop-shadows, border styles, and more!
    
    Visit the CSS Custom Properties guru card for more info: https://app.getguru.com/card/ceE54p4i/CSS-Custom-Properties-AKA-CSS-Variables 

\*------------------------------------*/


/**
 * Global Variables (Optional - Remove anything that's not being used)
 */

 :root {
    --section-margins: 80px;
    --container-max-width: 1306px;
    /* Caps out at 2000px for larger screens */
    --fluid-container-max-width: 2000px;

    --soft-half: 10px;
    --soft-small: 20px;
    --soft-medium: 40px;
    --soft-large: 60px;

    --push-half: 10px;
    --push-small: 20px;
    --push-medium: 40px;
    --push-large: 60px;
}

@media (min-width: 768px) {
    :root {
        --section-margins: 95px; 
    }
}

@media (min-width: 1200px) {
    :root {
        --section-margins: 150px; 
    }
}