.section-padding {
    padding: var(--section-margins) 0;
}

.bg- white {
    background-color: #fff;
}

.bg-dark-blue {
    background-color: #1F2937;
    color: #fff;
}

.bg-light-blue {
    background-color: #3882F6;
    color: #fff;
}

.bg-gray {
    background-color: #E5E7EB;
}

.btn {
    border-radius: 8px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: #3882F6;
    border: 1px solid #3882F6;
    cursor: pointer;
}

.btn--solid {
    background-color: #3882F6;
    color: #fff;
}

.btn--outline {
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
}

.text-center {
    text-align: center;
}